@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    height: 150px;
    color: white;
    text-align: center;
    font-family: 'Passion One', sans-serif;
    font-size: 40px;
}
header a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}